events {
    worker_connections 1024;
}

http {
    server {
        listen *:8080;

        location / {
            proxy_pass http://localhost:{{ INTERNAL_PORT }};
            auth_basic "Mycroft WebUI";
            auth_basic_user_file /config/.htpasswd;
        }
    }
}
