<!DOCTYPE html>
<html>
<head>
<title>Mycroft WebUI</title>
<style>
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#messages {
  flex-grow: 1;
}
#form {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#form_message {
  flex-grow: 1;
}
</style>
</head>
<body>

<div id="container">
  <div id="messages">
    Loading messages...
  </div>

  <form id="form" action="/send_message" method="post">
    <input id="form_message" type="text" name="message">
    <input type="submit" value="Submit">
  </form>
</div>

<script>
function getMessages() {
    xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            let messages = "<ul>";
            for (const message of JSON.parse(this.responseText)) {
                messages = messages + "<li>" + (message.incoming ? "Mycroft" : "You") + ": " + message.message + "</li>";
            };
            messages = messages + "</ul>";
            document.getElementById("messages").innerHTML = messages;
        }
    };
    xmlhttp.open("GET", "messages", true);
    xmlhttp.send(); 

    setTimeout(getMessages, 1000);
};
setTimeout(getMessages, 1000);
</script>

</body>
</html> 
