<!DOCTYPE html>
<html>
<head>
<title>Mycroft WebUI</title>
<style>
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#messages {
  flex: 1 auto;
  overflow-y: auto;
}
#form {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#form_message {
  flex-grow: 1;
}
</style>
</head>
<body>

<div id="container">
  <div id="messages">
    Loading messages...
  </div>

  <form id="form" action="/send_message" method="post">
    <input id="form_message" type="text" name="message" autofocus>
    <input type="submit" value="Submit">
  </form>
</div>

<script>
window.mycroft_webui_messages;

function getMessages() {
    xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            if (this.responseText == window.mycroft_webui_messages) {
                return;
            };
            window.mycroft_webui_messages = this.responseText;

            let messages = "<ul>";
            for (const message of JSON.parse(this.responseText)) {
                messages = messages + "<li>" + (message.incoming ? "Mycroft" : "You") + ": " + message.message + "</li>";
            };
            messages = messages + "</ul>";
            messageElement = document.getElementById("messages");
            messageElement.innerHTML = messages;
            messageElement.scroll(0, messageElement.scrollHeight);
        }
    };
    xmlhttp.open("GET", "messages", true);
    xmlhttp.send(); 
};

setInterval(getMessages, 1000);
getMessages();
</script>

</body>
</html> 
